@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    font-family: 'Roboto Condensed', 'sans-serif';

}

#mensagem_cadastrar{
    background-color:#FFD700;
    margin-top: 8px;
    padding: 3px;
    padding-left: 5px;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
};


body {
    font-family: 'Roboto Condensed', 'sans-serif';
    margin: 0;
    padding: 0;
}

.cadastrarAutores{
    font-weight: bold;
    margin: 30px;
}

.container {
    max-width: 800px; 
    margin: 0 auto; 
}

#mensagem_cadastrar {
    background-color: #f2bc65;
    color: #382b18;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin: 20px;
}

input[type="text"] {
    padding: 5px;
    width: 60%; 
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}