@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
}

#mensagem_excluir{
    background-color:#FFD700;
    margin-top: 8px;
    padding: 3px;
    padding-left: 5px;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-weight: bolder;
};

h1{
    padding: 50px;
}